@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-white;
}

.button:hover {
  @apply bg-gray-800;
}

.animated-link {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.animated-link:hover {
  transform: scale(1.1) rotate(2deg);
}

.text-xl {
  font-size: 1.5rem;
}
