@import url(https://fonts.bunny.net/css?family=fira-code:500);
@import "tailwindcss";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    font-family: "Fira Code", monospace;
    background: #171819;
    color: #cccccc;
    line-height: 1.6;
}
